* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.5;
  background-color: #f3f3f3; }

a {
  cursor: pointer; }

h1 {
  font-size: 4rem; }

.container {
  max-width: 115rem;
  margin: 7.5rem auto;
  padding: 0 2.5rem; }
  @media (min-width: 768px) {
    .container {
      margin: 25rem auto; } }

.container__label {
  color: #5ec576;
  font-size: 2rem;
  text-align: left;
  font-weight: 500; }
  @media (min-width: 768px) {
    .container__label {
      font-size: 2.5rem; } }

.container__header {
  font-size: 2.5rem;
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    .container__header {
      font-size: 3.5rem;
      margin-top: 1rem;
      margin-bottom: 4.5rem; } }

.section__header {
  font-size: 1.9rem;
  margin: 1rem auto; }
  @media (min-width: 768px) {
    .section__header {
      font-size: 2.2rem; } }

.section__description {
  font-size: 1.7rem; }
  @media (min-width: 768px) {
    .section__description {
      font-size: 2rem; } }

.grid {
  display: grid; }
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem; } }

img {
  width: 100%; }

.btn {
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  cursor: pointer; }
  @media (min-width: 768px) {
    .btn {
      font-size: 1.6rem;
      padding: 0.75rem 1.75rem; } }

.btn--primary {
  background-color: #5ec576; }
  .btn--primary:hover {
    background-color: #4bbb7d;
    transform: scale(0.9); }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  background-color: #f3f3f3;
  padding: 2.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s; }
  @media (min-width: 768px) {
    .modal {
      max-width: 60rem;
      padding: 4rem; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.modal__header {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3.5rem;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .modal__header {
      font-size: 3.25rem;
      margin-bottom: 4rem; } }

.modal__form {
  text-align: center;
  margin: 0 3rem;
  align-items: center;
  gap: 2rem;
  margin: 0 auto; }
  .modal__form label {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    transition: all 0.2s; }
    .modal__form input:focus {
      border-color: #5ec576; }
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem; }
  @media (min-width: 768px) {
    .modal__form {
      display: grid;
      grid-template-columns: 1fr 2fr;
      text-align: left; } }

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.nav {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.95); }
  @media (min-width: 768px) {
    .nav {
      flex-wrap: nowrap; } }

.nav__logo {
  height: 4.5rem;
  cursor: pointer;
  transition: transform 0.3s; }
  .nav__logo:hover {
    transform: scale(1.1); }

.nav svg {
  width: 3.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: fill 0.5s; }
  .nav svg.expanded {
    fill: #5ec576; }
  @media (min-width: 768px) {
    .nav svg {
      display: none; } }

.nav__links {
  width: 100%;
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s; }
  .nav__links :last-child > a {
    margin-bottom: 0.8rem;
    margin-left: -1rem; }
  .nav__links.expanded {
    max-height: 100vh; }
  @media (min-width: 768px) {
    .nav__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: inherit;
      margin-top: 0;
      max-height: 100%; }
      .nav__links :last-child > a {
        margin-bottom: 0;
        margin-left: 1.25rem; } }

.nav__item {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  font-size: 1.75rem; }
  @media (min-width: 768px) {
    .nav__item {
      border-bottom: none;
      margin-bottom: 0;
      font-size: 1.8rem;
      margin: 0 1.25rem; } }

.nav__link {
  color: #444;
  transition: color 0.35s; }
  .nav__link.btn--primary {
    transition: all 0.35s; }

.hero {
  text-align: center;
  align-items: center;
  margin-top: 5rem; }
  @media (min-width: 768px) {
    .hero {
      text-align: left; } }

.hero__description {
  margin: 2rem auto; }

.hero__header {
  line-height: 1.4;
  font-size: 3rem; }
  @media (min-width: 768px) {
    .hero__header {
      font-size: 4.5rem; } }

.hero__text {
  font-size: 1.9rem;
  padding: 1.9rem 0; }
  @media (min-width: 768px) {
    .hero__text {
      font-size: 2.25rem; } }

.hero__link {
  font-size: 1.7rem;
  color: #4bbb7d; }
  @media (min-width: 768px) {
    .hero__link {
      font-size: 1.9rem; } }

.hero__image {
  order: -1; }
  @media (min-width: 768px) {
    .hero__image {
      display: block;
      order: 1; } }

.features {
  align-items: center;
  justify-items: center; }
  @media (min-width: 768px) {
    .features > #feature__img1 {
      order: 1; }
    .features > #feature__cnt1 {
      order: 2; }
    .features > #feature__img2 {
      order: 4; }
    .features > #feature__cnt2 {
      order: 3; }
    .features > #feature__img3 {
      order: 5; }
    .features > #feature__cnt3 {
      order: 6; } }
  .features .container__header {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .features .container__header {
      margin-bottom: 2rem; } }

.feature__image {
  margin-top: 5rem; }

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ec5763a;
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%; }
  .feature__icon > svg {
    width: 22.5px;
    height: 22.5px;
    fill: #5ec576; }
  @media (min-width: 768px) {
    .feature__icon {
      width: 50px;
      height: 50px; } }

/*# sourceMappingURL=index.css.map */
