//COLOR PALLETE
$colors: (
  primary: #5ec576,
  secondary: #ffcb03,
  tertiary: #ff585f,
  primary-darker: #4bbb7d,
  secondary-darker: #ffbb00,
  tertiary-darker: #fd424b,
  primary-opacity: #5ec5763a,
  secondary-opacity: #ffcd0331,
  tertiary-opacity: #ff58602d,
  bg-body: #f3f3f3,
  text-body: #444,
);

$gradients: (
  primary: linear-gradient(to top left, #39b385, #9be15d),
  secondary: linear-gradient(to top left, #ffb003, #ffcb03),
);

// BREAK POINTS
$break-points: (
  tablet: 768px,
);

//MEDIA QUERIES
@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

//NORMALIZE and RESET
::selection {
  background-color: skyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

// TYPOGRAPHY
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: map-get($colors, text-body);
  line-height: 1.5;
  background-color: map-get($colors, bg-body);
}

//GENERAL STYLES
a {
  cursor: pointer;
}

h1 {
  font-size: 4rem;
}

img {
  width: 100%;
  transition: filter 0.5s;
}

.img--lazy {
  zoom: 2;
  filter: blur(15px);
}

.grid {
  display: grid;
  @include media-min-width(map-get($break-points, tablet)) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.container {
  max-width: 115rem;
  margin: 12.5rem auto;
  padding: 0 2.5rem;
  @include media-min-width(map-get($break-points, tablet)) {
    margin: 25rem auto;
  }
}

.section {
  @extend .container;
  transition: all 1.2s;
}

.container__label {
  color: map-get($map: $colors, $key: primary);
  font-size: 2rem;
  text-align: left;
  font-weight: 500;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 2.5rem;
  }
}

.container__header {
  font-size: 2.5rem;
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
  }
}

.section__header {
  font-size: 1.9rem;
  margin: 1rem auto;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 2.2rem;
  }
}

.section__description {
  font-size: 1.7rem;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 2rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn {
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 1.6rem;
    padding: 0.75rem 1.75rem;
  }
}

.btn--primary {
  background-color: map-get($map: $colors, $key: primary);
  &:hover {
    background-color: map-get($map: $colors, $key: primary-darker);
  }
}

.btn--secondary {
  background-color: map-get($map: $colors, $key: secondary);
  &:hover {
    background-color: map-get($map: $colors, $key: secondary-darker);
  }
}

.btn--teritary {
  background-color: map-get($map: $colors, $key: tertiary);
  &:hover {
    background-color: map-get($map: $colors, $key: tertiary-darker);
  }
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

//MODAL and OVERLAY
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 40rem;
  background-color: #f3f3f3;
  padding: 2.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  @include media-min-width(map-get($break-points, tablet)) {
    max-width: 60rem;
    padding: 4rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3.5rem;
  line-height: 1.4;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 3.25rem;
    margin-bottom: 4rem;
  }
}

.modal__form {
  text-align: center;
  margin: 0 3rem;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;

  label {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    outline: none;
    transition: all 0.2s;
    &:focus {
      border-color: map-get($map: $colors, $key: primary);
    }
  }
  button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  @include media-min-width(map-get($break-points, tablet)) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

//NAVIGATION BAR
.nav {
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  background-color: rgba(255, 255, 255, 0.95);
  @include media-min-width(map-get($break-points, tablet)) {
    flex-wrap: nowrap;
  }
}

.nav__logo {
  height: 4.5rem;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.nav svg {
  width: 3.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: fill 0.5s;
  &.expanded {
    fill: map-get($map: $colors, $key: primary);
  }
  @include media-min-width(map-get($break-points, tablet)) {
    display: none;
  }
}

.nav__links {
  width: 100%;
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  :last-child > a {
    margin-bottom: 0.8rem;
    margin-left: -1rem;
  }
  &.expanded {
    max-height: 40vh;
  }
  @include media-min-width(map-get($break-points, tablet)) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    margin-top: 0;
    max-height: 100%;
    :last-child > a {
      margin-bottom: 0;
      margin-left: 1.25rem;
    }
  }
}

.nav__item {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  font-size: 1.75rem;
  @include media-min-width(map-get($break-points, tablet)) {
    border-bottom: none;
    margin-bottom: 0;
    font-size: 1.8rem;
    margin: 0 1.25rem;
  }
}

.nav__link {
  color: map-get($map: $colors, $key: text-body);
  transition: color 0.35s;
  &.btn--primary {
    transition: all 0.35s;
  }
}

//HERO
.hero {
  text-align: center;
  align-items: center;
  margin-top: 10rem;
  @include media-min-width(map-get($break-points, tablet)) {
    text-align: left;
  }
}

.hero__description {
  margin: 2rem auto;
}

.hero__header {
  line-height: 1.4;
  font-size: 3rem;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 4.5rem;
  }
}

.hero__text {
  font-size: 1.9rem;
  padding: 1.9rem 0;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 2.25rem;
  }
}

.hero__link {
  font-size: 1.7rem;
  color: map-get($map: $colors, $key: primary-darker);
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 1.9rem;
  }
}

.hero__image {
  order: -1;
  @include media-min-width(map-get($break-points, tablet)) {
    display: block;
    order: 1;
  }
}

//FEATURES
.features {
  align-items: center;
  justify-items: center;
  @include media-min-width(map-get($break-points, tablet)) {
    & > #feature__img1 {
      order: 1;
    }
    & > #feature__cnt1 {
      order: 2;
    }
    & > #feature__img2 {
      order: 4;
    }
    & > #feature__cnt2 {
      order: 3;
    }
    & > #feature__img3 {
      order: 5;
    }
    & > #feature__cnt3 {
      order: 6;
    }
  }
  .container__header {
    margin-bottom: 0;
  }
  @include media-min-width(map-get($break-points, tablet)) {
    .container__header {
      margin-bottom: 2rem;
    }
  }
}

.feature__image {
  margin-top: 5rem;
}

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $colors, $key: primary-opacity);
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  & > svg {
    width: 22.5px;
    height: 22.5px;
    fill: map-get($map: $colors, $key: primary);
  }
  @include media-min-width(map-get($break-points, tablet)) {
    width: 50px;
    height: 50px;
  }
}

//OPERATIONS
.operations__tabs-container {
  display: grid;
  font-size: 2rem;
  align-content: center;
  width: 40%;
  margin: 3rem auto;
  grid-template-rows: repeat(3, minmax(0.4fr, 40px));
  gap: 1rem;
  @include media-min-width(map-get($break-points, tablet)) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, minmax(150px, 250px));
    width: 100%;
    justify-content: center;
    gap: 3rem;
  }
}

.operation__tab {
  transition: all 0.5s;
}

.operation__tab--active {
  transform: translateX(30px);
  @include media-min-width(map-get($break-points, tablet)) {
    transform: translateY(-15px);
  }
}

.operations__content {
  position: relative;
}

.operation__content {
  position: absolute;
  top: 2rem;
  visibility: hidden;
  height: 20rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.operation__content--active {
  visibility: visible;
}

//TESTIMONIALS
.testimonials {
  margin-top: 40rem;
}

.testimonials__content {
  position: relative;
  overflow: hidden;
  height: 37.5rem;
  overflow-y: scroll;
  max-height: 75rem;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1s;
}

.testimonial {
  width: 85%;
  margin: 0 auto;
  position: relative;
  & > .section__description {
    opacity: 0.75;
  }
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27.5%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 2.75rem;
}

.slider__btn--left {
  left: 5%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 5%;
  transform: translate(50%, -50%);
}

.testimonial__photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1.75rem 0 0.25rem;
  @include media-min-width(map-get($break-points, tablet)) {
  }
}

.testimonial__name {
  font-size: 1.6rem;
  font-weight: 500;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 1.75rem;
  }
}

.testimonial__location {
  font-size: 1.5rem;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 1.6rem;
  }
}

.dots {
  display: none;
  @include media-min-width(map-get($break-points, tablet)) {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
  }
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #b9b9b9;
  margin: 0.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dot--active {
  background-color: #888;
}

//FOOTER
.footer {
  background-color: #37383d;
  color: #fff;
  text-align: center;
  padding: 7.5rem 5rem;
  & > button {
    margin: 3.75rem auto 7.5rem;
    font-size: 1.5rem;
    padding: 1.25rem 1.75rem;
    @include media-min-width(map-get($break-points, tablet)) {
      font-size: 2.25rem;
    }
  }
}

.footer__header {
  line-height: 1.8;
  font-size: 2.5rem;
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 3rem;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include media-min-width(map-get($break-points, tablet)) {
    flex-direction: row;
  }
}

.footer__link {
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
  transition: all 0.3s;
  &:hover {
    color: map-get($map: $colors, $key: primary);
  }
  @include media-min-width(map-get($break-points, tablet)) {
    font-size: 2rem;
    margin: 2rem;
  }
}

.copyright {
  font-size: 1.75rem;
  margin-top: 3rem;
  color: #ccc;
}
